#chart,
#legend {
  flex: 1;
}

#legend {
  margin-left: 20px;
}

.legend {
  font-size: 12px;
}

.legend rect {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  display: inline-block;
}

.legend rect {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  display: inline-block;
}

.tooltip {
  position: absolute;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
  font-size: 12px;
}

.dot {
  fill-opacity: 0.7;
}

.legend rect {
  fill-opacity: 0.7;
}

.legend text {
  font-size: 12px;
}

.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #d4d8da;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

/*Tooltip styling*/
.tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 7px;
  font-size: 0.8em;
  pointer-events: none;
  background: #666;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

.tooltip h3 {
  font-size: 0.8em;
  margin-bottom: 2px;
  padding: 0;
}

.tooltip p {
  font-size: 0.7em;
  margin-bottom: 2px;
  padding: 0;
}

/*Map related styling*/
.map_title {
  text-align: left;
  color: #666;
  margin: 20px 10px;
  transition: 500ms;
}

.map_legend_container {
  margin: 10px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

/*Line Chart*/
.radio-block {
  margin: 10px auto;
}

.timeline_area {
  stroke-width: 1px;
}

.col_active {
  transition: 0.3s;
  stroke: "#333";
  stroke-width: 1.5;
}

.control-group {
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.minmax-group {
  display: flex;
  flex-direction: row;
}

/*Vaccine Filters*/
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.barText {
  font-size: 0.4em;
  font-weight: 600;
}

/* Line Chart CSS */

/* AXES */
/* ticks */
.axis line {
  stroke: #706f6f;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
  stroke: #706f6f;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

/* axis text */
.axis text {
  fill: rgb(68, 68, 68);
}

/* LINE CHART */
.line {
  fill: none;
  stroke: #c69494;
  stroke-width: 3;
}

.ghost-line {
  fill: none;
  stroke: #FF1D33;
  opacity: 0;
  stroke-width: 10;
}

/* TOOLTIP */
.tooltip {
  fill: #2b2929;
  font-size: 150%;
}

/* POINTS */
.point {
  stroke: none;
  fill: #9c9c9c;
}

/* LABEL*/
.series_label {
  fill: #e7e4e4;
  font-size: 1em;
}

