#chart,
#legend {
  flex: 1;
}

#legend {
  margin-left: 20px;
}

.legend {
  font-size: 12px;
}

.legend rect {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  display: inline-block;
}

.legend rect {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  display: inline-block;
}

.tooltip {
  position: absolute;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
  font-size: 12px;
}

.dot {
  fill-opacity: 0.7;
}

.legend rect {
  fill-opacity: 0.7;
}

.legend text {
  font-size: 12px;
}

.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #d4d8da;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

/*Tooltip styling*/
.tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 7px;
  font-size: 0.8em;
  pointer-events: none;
  background: #666;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

.tooltip h3 {
  font-size: 0.8em;
  margin-bottom: 2px;
  padding: 0;
}

.tooltip p {
  font-size: 0.7em;
  margin-bottom: 2px;
  padding: 0;
}

/*Map related styling*/
.map_title {
  text-align: left;
  color: #666;
  margin: 20px 10px;
  transition: 500ms;
}

#top-selector,
#sort-vaccine,
#select-vaccine-data {
  margin: 10px;
  font-size: 0.6em;
  width: 150px;
}

.plot-cols {
  margin: 10px auto;
  background-color: #eee;
}

.map_legend_container {
  margin: 10px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

/*Line Chart*/
.radio-block {
  margin: 10px auto;
}

/*Timeline*/
.timeline-container {
  width: 100%;
  margin: 0 auto;
}

.timeline_area {
  stroke-width: 1px;
}

.col_active {
  transition: 0.3s;
  stroke: "#333";
  stroke-width: 1.5;
}

.control-group {
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.minmax-group {
  display: flex;
  flex-direction: row;
}

/*Vaccine Filters*/
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.barText {
  font-size: 0.4em;
  font-weight: 600;
}
